# Explore here

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
from sklearn.model_selection import train_test_split
import pickle

### Exploración y limpieza de datos

In [6]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('/Users/julian/Desktop/vs code/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/data/raw/playstore_reviews.csv', sep = ',')
data.head()

,package_name,review,polarity
0,com.facebook.katana,privacy at least put some option appear offli...,0
1,com.facebook.katana,"messenger issues ever since the last update, ...",0
2,com.facebook.katana,profile any time my wife or anybody has more ...,0
3,com.facebook.katana,the new features suck for those of us who don...,0
4,com.facebook.katana,forced reload on uploading pic on replying co...,0

In [3]:
# Obtener las dimensiones.
data.shape

(891, 3)

Observamos un dataset con 891 filas y tres columnas

In [4]:
# Obtener información sobre tipos de datos y valores no nulos.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  891 non-null    object
 1   review        891 non-null    object
 2   polarity      891 non-null    int64
dtypes: int64(1), object(2)
memory usage: 21.0+ KB

Como podemos observar, el data set no cuenta con valores nulos.

In [7]:
data['polarity'].value_counts()

polarity
0    584
1    307
Name: count, dtype: int64

In [9]:
data.duplicated().sum()

np.int64(0)

### Eliminar columnas sin relevancia

In [10]:
data_limpia = data.drop(['package_name'], axis = 1, inplace = False)
data_limpia.head()

                                              review  polarity
0   privacy at least put some option appear offli...         0
1   messenger issues ever since the last update, ...         0
2   profile any time my wife or anybody has more ...         0
3   the new features suck for those of us who don...         0
4   forced reload on uploading pic on replying co...         0

### Eliminar espacios y convertir a minúsculas el texto

In [12]:
data_limpia["review"] = data_limpia["review"].str.strip().str.lower()
data_limpia.head()

                                              review  polarity
0  privacy at least put some option appear offlin...         0
1  messenger issues ever since the last update, i...         0
2  profile any time my wife or anybody has more t...         0
3  the new features suck for those of us who don'...         0
4  forced reload on uploading pic on replying com...         0

### Dividir el conjunto de datos en train y test: X_train, X_test, y_train, y_test

In [17]:
# Dividimos el conjunto de datos en muestras de train y test

X = data_limpia.drop("polarity", axis = 1)

y = data_limpia["polarity"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.head()

                                                review
331  just did the latest update on viber and yet ag...
733  keeps crashing it only works well in extreme d...
382  the fail boat has arrived the 6.0 version is t...
704  superfast, just as i remember it ! opera mini ...
813  installed and immediately deleted this crap i ...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vec_model = CountVectorizer(stop_words = "english")
X_train = vec_model.fit_transform(X_train).toarray()
X_test = vec_model.transform(X_test).toarray()

In [19]:
# GUARDAR LOS DATASETS
X_train.to_excel("/Users/julian/Desktop/vs code/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/data/processed/Excels/X_train.xlsx", index = False)
X_test.to_excel("/Users/julian/Desktop/vs code/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/data/processed/Excels/X_test.xlsx", index = False)
y_train.to_excel("/Users/julian/Desktop/vs code/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/data/processed/Excels/y_train.xlsx", index = False)
y_test.to_excel("/Users/julian/Desktop/vs code/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/Naive_bayes_model_for_machine_learning_Project_19_Julian_Lopez/data/processed/Excels/y_test.xlsx", index = False)

AttributeError: 'numpy.ndarray' object has no attribute 'to_excel'